// Specific CSS for your home-page
.home-container {
  width: 90%;
  margin: 0 auto;

  h2 {
    margin-top: 60px;
    color: rgb(74, 73, 74);
    text-align: center;
    font-weight: bold;

  }
  p {
    color: rgb(74, 73, 74);
    text-align: center;

  }
}
// do a horizontal scroll
.home-products {
  width: 100%;
  margin: 0 auto;
  display: flex;
  overflow-x: auto;


}

.home-products::-webkit-scrollbar {
  display: none;
}


//home ends
.home-end {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;

}

.boxes {
  background-color: white;
  padding: 30px;
  margin-bottom: 15px;
  text-align: center;
  color: grey;
  h2 {
    font-weight: bold;
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}



@media (min-width: 100px)and(max-width: 675px) {
  .home-end {
    display: block;
  }
}






