.line-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid;
  border-color: grey;
}

.line-image{
  border-radius: 6px;
  img {
    padding: 10px;
    width: 100px;
    height: 100px;

  }
}
.line-description {

  h3 {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 0px;
  }

  p {
    font-size: 13px;
    margin-bottom: 0px;
  }

  a {
     margin-top: 0px;
    font-size: 13px;
  }
}
