<div class="cards-container">
  <%= link_to cars_path do %>
  <img src="https://images.unsplash.com/photo-1522325901921-e199d3eaa5ce?ixlib=rb-1.2.1&auto=format&fit=crop&w=1186&q=80" alt="">
  <div class="card-description">
   <h2>Ferrari testarosa</h2>
   <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <p>car description</p>
   <h3>Car price</h3>
   <% end %>
  </div>
</div>
<div class="cards-container">
  <%= link_to cars_path do %>
  <img src="https://images.unsplash.com/photo-1522325901921-e199d3eaa5ce?ixlib=rb-1.2.1&auto=format&fit=crop&w=1186&q=80" alt="">
  <div class="card-description">
   <h2>Ferrari testarosa</h2>
   <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <p>car description</p>
   <h3>Car price</h3>
   <% end %>
  </div>
</div>
<div class="cards-container">
  <%= link_to cars_path do %>
  <img src="https://images.unsplash.com/photo-1522325901921-e199d3eaa5ce?ixlib=rb-1.2.1&auto=format&fit=crop&w=1186&q=80" alt="">
  <div class="card-description">
   <h2>Ferrari testarosa</h2>
   <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <p>car description</p>
   <h3>Car price</h3>
   <% end %>
  </div>
</div>
<div class="cards-container">
  <%= link_to cars_path do %>
  <img src="https://images.unsplash.com/photo-1522325901921-e199d3eaa5ce?ixlib=rb-1.2.1&auto=format&fit=crop&w=1186&q=80" alt="">
  <div class="card-description">
   <h2>Ferrari testarosa</h2>
   <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <p>car description</p>
   <h3>Car price</h3>
   <% end %>
  </div>
</div>
