<div class="container">
  <% @orders.each do |order| %>

  <h2><%= order.user.email %></h2>
  <%= order.amount %>
  <%= order.created_at.strftime('%D %M %Y') %>
  <% end%>
  <h1>total:</h1>
  <%= @order %>
</div>

