<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1546768292-fb12f6c92568?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="home-banner-button">
    <a class="btn btn-flat" href="#">Shop Now</a>
  </div>
</div>
<div id="navbar">
  <div class="nav-logo">
    <i class="fas fa-car"> CARS</i>
  </div>
  <div class="nav-filters">
    <a href="#">Home</a>
    <i class="fas fa-minus"></i>
    <a href="#">News</a>
    <i class="fas fa-minus"></i>
    <a href="#">Contact</a>
  </div>
  <div class="nav-carrito">
    <i class="fas fa-shopping-bag"></i>
  </div>
</div>
<div class="home-container">
  <%= render 'shared/home-cards' %>
  <h2> Our Bestsellers</h2>
  <p> Trusted by the best pilots, cars critics, these are some of our best-selling products. </p>
</div>
<div class="home-products">
  <%= render 'shared/home-products' %>
</div>
<div class="home-end">
  <div class="boxes">
    <h2><i class="fas fa-credit-card"></i> Payment</h2>
    <p>Pay with VISA, MasterCard, or PayPal in our secure checkout.</p>
  </div>
  <div class="boxes">
    <h2><i class="fas fa-box-open"></i> Shipping & Returns</h2>
    <p>Free shipping on all orders over 150€/1500 kr. Free returns. Return within 60 days and get your money back.</p>
  </div>
  <div class="boxes">
    <h2><i class="fas fa-file-signature"></i> Extended Warranty</h2>
    <p>Two years warranty on all of our bags. We promise that they will last.
    </p>
  </div>
</div>
<script>
  window.onscroll = function() {myFunction()};

  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;

  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
</script>
