<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1546768292-fb12f6c92568?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="home-banner-button">
    <a class="btn btn-flat" href="#">Shop Now</a>
  </div>
</div>

<div id="navbar">
  <div class="nav-logo">
    <i class="fas fa-car"> CARS</i>
  </div>
  <div class="nav-filters">
    <a href="#">Home</a>
    <i class="fas fa-minus"></i>
    <a href="#">News</a>
    <i class="fas fa-minus"></i>
    <a href="#">Contact</a>
  </div>
  <div class="nav-carrito">
    <i class="fas fa-shopping-bag"></i>
  </div>
</div>

<div class="home-container">
  <%= render 'shared/home-cards' %>
</div>


<script>
  window.onscroll = function() {myFunction()};

  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;

  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
</script>
