<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to 'comprar', cars_path %>
<h2>hola como andas todo bien y vos la verdad que muy contento por todo esto que esta pasando la verdad una alegria inmensa , this is very nice to see and watch is really amazing all the progress</h2>
