.button-shopping {
  background-color: blue;
  padding: 10px 30px;
  font-weight: bold;
  color: white;
  border-radius: 6px;
}

.button-order {
  width: 100%;
  background-color: black;
  color: white;

}
