.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-item {
  img {
    width: 30px;
  }
}

.nav-buttons {
  display: flex;
}
.nav-cart {
   display: flex;
}


.cart-item {
  display: none;
}

@media (min-width: 100px)and(max-width: 575px) {
  .cart-item {
  display: block;
}
}


//

#navbar {
  overflow: hidden;
  background-color: blue;
}





.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .home-container {
  padding-top: 80px;
}
