<div class="container">
  <%= simple_form_for([ car, review ], remote: true) do |form| %>

  <%= form.input :content , label: "Review:"%>
  <%= form.input :rating, required: true, :collection => ["1", "2", "3", "4", "5"] %>
  <p><%= form.button :submit,  class: 'btn-primary' %></p>
  <% end %>
</div>
